@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="flex-grid">
        <div class="dusty-blue grid-item">
            Dusty Blue
        </div>
        <div class="muted-sage grid-item">
            Muted Sage
        </div>
        <div class="warm-taupe grid-item">
            Warm Taupe
        </div>
        <div class="soft-coral grid-item">
            Soft Coral
        </div>
        <div class="pale-lavender grid-item">
            Pale Lavender
        </div>
    </div>

    <div class="flex-grid border-top">
        <div class="grid-item">
            <a class="text-dark page-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin Panel</a>
        </div>
        <div class="grid-item text-center">
            <a class="text-dark page-link" asp-area="" asp-controller="Transactions" asp-action="Index">Transactions</a>
        </div>
    </div>
</div>
