@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">Welcome to FundFlow!</h1>
    <p>FundFlow is a simple and powerful personal finance application designed for casual users of all income brackets. With FundFlow, you can easily track your monthly finances, customize accounts, add transactions with customizable transaction types, and set budgets for each transaction type for each month. The app is designed to be professional, neutral, and easy to use, yet provides powerful features that can help you take control of your finances. With FundFlow, you can monitor your income and expenses, track your savings goals, and gain insights into your spending habits, all in one convenient and easy-to-use application.</p>
    <div class="flex-grid">
        <div class="dusty-blue grid-item">
            Dusty Blue
        </div>
        <div class="muted-sage grid-item">
            Muted Sage
        </div>
        <div class="warm-taupe grid-item">
            Warm Taupe
        </div>
        <div class="soft-coral grid-item">
            Soft Coral
        </div>
        <div class="pale-lavender grid-item">
            Pale Lavender
        </div>
    </div>

    <div class="flex-grid border-top">
        <div class="grid-item">
            <a class="text-dark page-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin Panel</a>
        </div>
        <div class="grid-item text-center">
            <a class="text-dark page-link" asp-area="" asp-controller="Transactions" asp-action="Index">Transactions</a>
        </div>
        <div class="grid-item text-center">
            <a class="text-dark page-link" asp-area="" asp-controller="Mont" asp-action="Index">Months</a>
        </div>
    </div>
</div>
