@import "_variables.less";

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

header {
    background-color: @primary-dustyBlue;
}

body {
    margin-bottom: 60px;
    background-color: @background-softGray;
}

.navbar {
    .navbar-brand {
        &::before {
            margin: 0 5px;
        }
    }

    .nav-link {
        &::before {
            margin: 0 5px;
        }

        &::after {
            vertical-align: 0.17em;
        }
    }

    .nav-form-button {
        padding: 0;
    }

    .nav-profile-menu-item {
        height: 2.3rem;
    }
}



.flex-grid {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    padding: 20px 0;
    justify-content: center;

    @media @mobile {
        flex-direction: column;
    }

    .grid-item {
        width: 20%;
        height: 150px;
        border: 2px solid @colorBlack;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media @mobile {
            width: 75%;
            margin: auto;
        }
    }

    .button-text {
        font-size: 18px;
        font-weight: 700;
    }

    .dusty-blue {
        background-color: @primary-dustyBlue;
    }

    .muted-sage {
        background-color: @primary-mutedSage;
    }

    .warm-taupe {
        background-color: @accent-warmTaupe;
    }

    .soft-coral {
        background-color: @accent-softCoral;
    }

    .pale-lavender {
        background-color: @accent-paleLavender;
    }
}

table {
    tr {
        vertical-align: middle;
    }
}

@media @mobile {
    h1 {
        text-align: center;
    }

    .btn-container {
        text-align: center;
        margin: 10px 0 0;

        .btn {
            width: 90%;
        }
    }
}